body{
  background: rgb(127, 175, 54);
}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.div-form{
  background: white;
  width: 500px;
  padding: 50px;
  border-radius: 8px;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  margin: 10px;
}
h1{
  font-size: 20px;
}
.result-Error{
  color: red;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.result-Sucess{
  background: white;
  width: 500px;
  padding: 50px;
  border-radius: 8px;
  margin-top: 20px;
}
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
